<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{ base :: layout(~{::title} , ~{::section} ) }">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<section>
		<div class="container mt-2">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<h3>Login Page</h3>

							<th:block th:if="${param.error}">
								<p class="text-center text-danger fs-5">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
							</th:block>
							
							<th:block th:if="${param.logout}">
								<p class="text-center text-success fs-5">Logout sucessfully</p>
							</th:block>
						</div>
						<div class="card-body">
							<form action="userLogin" method="post">

								<div class="mb-3">
									<label>Enter Email</label> <input type="email" name="username"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>Enter Password</label> <input type="password"
										name="password" class="form-control">
								</div>

								<button class="btn btn-primary col-md-12">Login</button>
							</form>
						</div>
						<div class="card-footer text-center">
							<p class="fs-6">
								don't have an account <a href="register"
									class="text-decoration-none">register</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>